.not-user{
    .lessFZ(28);
    .lessBoxFlexSB();
    .lessPadding(0,0,20,0);
    >a{
        .lessBoxFlexChild();
        color: red;
    }
    .not-user-l{
        text-align: left;
    }
    .not-user-r{
        text-align: right;
    }
}

.backlogin{
    .lessFZ(28);
}

.mint-popup-3 {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.mint-popup-3 .mint-button {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
